#scroll-container{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    overflow-y: scroll;
}
.item{
    background-color: grey;
    /* margin: 2px 0;
    padding: 10px; */
    height: 25px;
}